html {
	background-color: #4070b827;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles */

.border-none {
	border: none !important;
}

.chip {
	border-radius: 15px;
	background-color: #3a3b3c;
	color: white !important;
}

.error { 
	color: #db7878;
  font-size: 12px;
}

/* Backgrounds  */

.bg-blue-light {
	background-color: #4070b827;
}

.bg-white {
	background-color: #FFFFFF;
}

.bg-overlay {
	background-color: rgb(18, 18, 18);
}

/* Texts */

.text-center {
	text-align: center !important;
}

.text-black { 
	color: black !important;
}

.text-white { 
	color: white;
}

.text-decoration-none {
	text-decoration: none !important;
}

/* Sizing  */

.h-100p {
	height: 100% !important;
}

.w-90p {
	width: 90% !important;
}

.w-100p {
	width: 100% !important;
}

.min-width-250 {
	min-width: 250px !important;
}



.max-width-600 {
	max-width: 600px !important;
}

.max-width-800 {
	max-width: 800px !important;
}

.min-height-100p {
	min-height: 100% !important;
}

.vh-100 {
	height: 100vh !important;
}

.h-20 {
	height: 20px !important;
}

.h-30 {
	height: 30px !important;
}

.h-40 {
	height: 40px !important;
}

.h-50 {
	height: 50px !important;
}

.h-50 input {
	height: 50px !important;
}

/* text styles */

.bold-900 {
	font-weight: 900 !important;
}

/* Position */

.position-absolute {
	position: absolute;
}


.position-relative {
	position: relative;
}

.right-0 {
	right: 0;
}

.mt-2 {
	margin-top: 2px !important;
}

.mt-4 {
	margin-top: 4px !important;
}

.mt-12 {
	margin-top: 12px !important;
}

.mt-12-reverse {
	margin-top: -12px !important;
}

.mt-24-reverse {
	margin-top: -24px !important;
}

.mt-28-reverse {
	margin-top: -28px !important;
}


.z-index-1001 {
	z-index: 3001 !important;
}

.p-4 {
	padding: 4px !important;
}

.p-7 {
	padding: 7px !important;
}

.p-12 {
	padding: 12px !important;
}

.mr-4 {
	margin-right: 4px !important;
}

.mr-8 {
	margin-right: 8px !important;
}

.ml-4 {
	margin-left: 4px !important;
}

.ml-6 {
	margin-left: 6px !important;
}

.ml-12 {
	margin-left: 12px !important;
}

.ml-14 {
	margin-left: 14px !important;
}



.ml-40-reverse {
	margin-left: -40px !important;
}

.m-0 {
	margin: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.br-15 { 
	border-radius: 15px;
}

.br-12 { 
	border-radius: 12px;
}


/* Flex box */

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.flex-column {
	flex-direction: column;
}


/* scroll */


.custom-scrollbar {
  overflow-y: scroll;
  height: 78vh;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EFEFEF;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(148, 148, 148);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(245, 245, 245);
}

.MuiCardContent-root {
	padding: 0 !important;
	padding-top: 7px !important;
}

.page-active {
	color: white;
	background-color: #4071B8;
}

.pagination button {
	border: none;
	border-radius: 7px;
	margin: 2px;
	height: 50px;
	width: 50px;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.cursor-pointer {
	cursor: pointer;
}